:root {
  --transition-speed: 1800ms;
  --digit-height: 80px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
  
body {
  /* background-color: #334155; */
  /* background-color: #100e29; */
  background-image: linear-gradient(to bottom , #312e81, #100e29)
}


h3 {
  min-width: 132px;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.symbol {
  font-size: 1.125rem; 
  line-height: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0px; 
  font-weight: 700;
  
}
  
.price {
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.8rem;
  margin-top: 0px;
}

.sector {
  font-size: 0.8rem; 
  line-height: 1rem;
}

.disabled-card {
  margin: 0.25rem;
  background-color: #cbd5e1;
  border-radius: 0.75rem;
  margin: 0.25rem;
  height: 6rem;
  width: 6rem;
  cursor: default;
}

.card {
  /* background-color: #64748b; */
  background-image: conic-gradient(
    from 180deg
    at 50% 115%,
    #c7d2fe ,
    #020617
  );
  margin: 0.25rem;
  border-radius: 0.75rem;
  margin: 0.25rem;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}

.card:hover {
  /* background-color: #cbd5e1; */
  transform: scale(1.05);
}

.card-placeholder {
  margin: 0.25rem;
  height: 6rem;
  width: 6rem;
}

.green {
  color:#4ade80;
}

.red {
  color: #fca5a5;
}

.low-score{
  color:#fca5a5
}
.medium-score{
  color:#fde68a
}
.high-score{
  color:#86efac
}

.container {
  /* background-color: #23508a; */
  
  background-image: radial-gradient(
    #c7d2fe 50%,
    #e0e7ff 
  );

}
  
.all-stocks {
  padding: 1rem;
  border-radius: 0.75rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.selected-stocks {
  padding: 1rem;
  /* height:9rem; */
  min-height: 7rem;
  /* background-color: #e2e8f0; */
  border-radius: 0.75rem;
  min-width: 28rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
}



.portfolio-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}


.score-container {
  border-radius: 0.75rem;
  text-align: center;
  /* background-color:#e2e8f0; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  width: 9rem;
}

.score-card {
  padding: 1rem;
  background-color: #64748b;
  border-radius: 0.75rem;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
}

.score {
  margin:0px;
}

.rolling-numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.num-col {
  display: flex;
  flex-direction: column;
  
}

.digit {
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-size: 3.2rem;
  line-height: 4rem;
}

.roll-0 {
  transform: translateY(calc( 0 * var(--digit-height) ));
  transition-duration: var(--transition-speed);
}
.roll-1 {
  transform: translateY(calc( -1 * var(--digit-height) ));
  transition-duration: var(--transition-speed);
}
.roll-2 {
  transform: translateY(calc( -2 * var(--digit-height) ));
  transition-duration: var(--transition-speed);
}
.roll-3 {
  transform: translateY(calc( -3 * var(--digit-height) ));
  transition-duration: var(--transition-speed);
}
.roll-4 {
  transform: translateY(calc( -4 * var(--digit-height) ));
  transition-duration: var(--transition-speed);
}
.roll-5 {
  transform: translateY(calc( -5 * var(--digit-height) ));
  transition-duration: var(--transition-speed);
}
.roll-6 {
  transform: translateY(calc( -6 * var(--digit-height) ));
  transition-duration: var(--transition-speed);
}
.roll-7 {
  transform: translateY(calc( -7 * var(--digit-height) ));
  transition-duration: var(--transition-speed);
}
.roll-8 {
  transform: translateY(calc( -8 * var(--digit-height) ));
  transition-duration: var(--transition-speed);
}
.roll-9 {
  transform: translateY(calc( -9 * var(--digit-height) ));
  transition-duration: var(--transition-speed);
}